.pirmakaste {    
  border-style: solid;
  border-color: purple;
  background-color: pink;
  padding: 10%;
  margin: 10%;
}

.kaste {    
  border-style: dotted;
  border-color: purple;
  background-color: pink;
  padding: 10px 10px 10px 10px;
  margin: 50px 20px 50px 20px;
}
